{% extends "base.html" %}

{% block content %}
<br>
    {% if req == request.user %}
        <a style="border-radius: 5px;" class="btn btn-primary" href="{% url 'updateprofile' %}">Update Profile</a>
    {% endif %}
    <div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: rgb(101,119,134); border-radius: 10px;">
        <div class="container">
            <div class="col-3">
            <img class="rounded-circle mr-2" style="width: 20px; height: 100px;" src="">
            </div>
            <div class="col-3">
            <h3 style="color: white;">{{profile.user}}</h3>
            <p>
                {{profile.firstName}} {{profile.lastName}}
            </p>
            <p>
                {{profile.gender}}
            </p>
            <p>
                {{profile.contactNumber}}
            </p>
            <p>
                {{profile.address}}
            </p>
            </div>
            <hr>
            <h4>Followers : {{followersCount}}</h4>

            <h4>Following : {{followingCount}}</h4>
            <hr>

            <h5>{{bio}}</h5>

            {% if request.user != username %}

                <form action="{% url 'followuser' username.pk %}" method="POST">
                    {% csrf_token %}
                    {% if request.user not in followers %}
                        <button class="btn btn-primary btn-sm" type="submit">Follow</button>
                    {% else %}
                        <button class="btn btn-primary btn-sm" type="submit">Unfollow</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
        
    </div>
    
{% endblock %}